.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    text-align: center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-left: 100px;
  }
  
  #main {
    transition: margin-right .5s;
    text-align: right;
    text-align: top;
    padding-right: 30px;
  }
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

#hero {
    position: relative;
    text-align: center;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.quote-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
}

blockquote {
    font-style: italic;
    font-size: 1.2em;
}

#about, #get-started {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}

h2 {
    color: #4CAF50;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}
